
.header__form {
    display: flex;
    text-align: center;
}

.book-item__info--img {
    width: 25px;
    margin-left: 20px;
    margin-top: 5px;
}


.info__btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

.title {
    color: white;
    margin-left: 45px;
}